body {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 207, 215);
}

hr {
  height: 10px;
  background-color: beige;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), 0 1px 3px rgba(0, 0, 0, 0.08);
}
/* Nav bar Configuration */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: whitesmoke;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), 0 1px 3px rgba(0, 0, 0, 0.08);
  position: sticky;
}

.navbar__logo {
  height: 120px;
  margin: 0;
}

.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 35px;
  padding: 0;
  margin: 0;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.navbar__list a {
  text-decoration: none;
  color: black;
  border-radius: 15px;
  background-color: rgb(255, 207, 215);
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-size: large;
  transition: all 0.3s ease;

  font-family: "Oswald", sans-serif;
}

.navbar__button {
  margin: 0 20px;
  font-style: italic;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  padding: 11px;
  padding-left: 11px;
  font-size: medium;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: beige;
  transition: all 0.3s ease;
}

.navbar__button:hover {
  background-color: beige;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}
.navbar__button a {
  text-decoration: none;
  color: black;
  font-family: "Oswald", sans-serif;
}

.navbar__list a:hover {
  background-color: rgb(255, 180, 200);
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  font-family: "Oswald", sans-serif;
}

/* About Page ------------------------------------------------------------------------ */

.about__section {
  background-color: whitesmoke;
  margin: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}
.about__list {
  padding: 20px;
  margin: 20px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 248, 227);
  gap: 60px;
  border-style: solid;
  border-radius: 15px;
  font-family: "Oswald", sans-serif;
}
.about__text {
  padding: 20px;
}
.about__page__headshot {
  object-fit: cover;
  width: 230px;
  height: 230px;
  border-style: inset;
}
/* Menu Secction ------------------------------------------------------------------------*/
.menu__grid img {
  display: cover;
  height: 370px;
  width: 250px;
}
.menu__section {
  padding: 2rem;
}
.menu__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.menu__grid .item {
  background: #ffffff;
  border-radius: 12px;
  padding: 1.7rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
}

.menu__grid .item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.menu__grid .item img {
  width: 50%;
  height: 200px;
  object-fit: cover;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 1rem;
  object-position: center bottom;
}

.menu__grid .item p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #333;
  font-family: "Oswald", sans-serif;
}
/* Contact Form */
